@use '../abstracts' as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-body;
  color: $color-text-primary;
}

h1 {
  font-size: clamp(27px, 3.2vw, $font-size-h1);
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1.15;
}

h2,
h3 {
  font-weight: 600;
}

a {
  color: inherit;
}
